<app-flight-details [buttonWarning]="parentButtonWarning" [buttonErrorConnection]="parentButtonErrorConnection"></app-flight-details>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Warning</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Too long innactive time&hellip;</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="d('Close click')">Close</button>
  </div>
</ng-template>

<button style="visibility: hidden;" id="temp-button" class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button>