<div *ngIf="errorAirplane">
  <div class="alert alert-warning">
      <strong>Warning!</strong> Server connection error.
  </div>
</div>

<div *ngFor="let flight of flights.states">
  <h2>Flight details: {{ flight[1] }} from {{ flight[2] }}</h2> 
</div>

<div *ngIf="isPlaneSelected">
  <h2>Monitoring for plane {{ selectedPlane.icao24 }} from  {{ selectedPlane.origin_country }}</h2>
</div>

<div class="chart block">
  <canvas id="canvas">{{ chart }}</canvas>
</div>

<div class="form-group block">
  <h4 for="select-airplane">Select airplane:</h4>
  <select class="form-control" [(ngModel)]="selectedPlane" id="select-airplane">
    <option *ngFor="let airplane of airplanes" [ngValue]="airplane">
      {{ airplane.icao24 }} from  {{ airplane.origin_country }}
    </option>
  </select>
  <button type="button" class="btn btn-primary" (click)="changePlane()">Change plane</button>
</div>

<div class="form block row">
  <div class="col-md-6">
    <h4>Add airplane:</h4>
    <form #regForm="ngForm" (ngSubmit)="addAirplane(regForm)">
        <div><label>icao24:</label><input name="icao24" ngModel></div>
        <div><label>origin_country:</label><input name="origin_country" ngModel></div>
        <button type="submit" class="btn btn-success">Add new plane</button>
    </form>
  </div>
  <div class="col-md-6">
      <h4>Change options:</h4>
      <form #tdForm="ngForm" (ngSubmit)="changeOptions(tdForm)">
          <div><label>Maximal waiting time:</label><input name="maximalWaitingTime" placeholder="{{maximalWaitingTime}}" ngModel></div>
          <button type="submit" class="btn btn-success">Change</button>
      </form>
    </div>
</div>

<div class="block">
  <h4>Statistics for plane {{ selectedPlane.icao24 }} from  {{ selectedPlane.origin_country }}:</h4>
  <div class="row">
    <div class="col-md-6 stats">
      <p>{{ stats.data.length }} records</p>
      <p>Max: {{ stats.max }} sec</p>
      <p>Median: {{ stats.median }} sec</p>
      <p>Average: {{ stats.average }} sec</p>
      <button type="button" (click)="refreshStats()" class="btn btn-primary">Refresh statistics</button>
      <div *ngIf="isLoadingData">
        <p>Loading statistics...</p>
      </div>
    </div>

    <div class="col-md-6 dates">
      <div class="radio">
        <label>
          <input 
            ng-control="options"
            type="radio" 
            name="optradio"
            [value]="1"  
            [(ngModel)]="timeOption">Today
        </label>
      </div>
      <div class="radio">
          <label>
            <input 
              ng-control="options"
              type="radio" 
              name="optradio"
              [value]="2"  
              [(ngModel)]="timeOption">Week
          </label>
        </div>
        <div class="radio">
          <label>
            <input 
              ng-control="options"
              type="radio" 
              name="optradio"
              [value]="3"  
              [(ngModel)]="timeOption">Month
            </label>
        </div>
        <div class="radio disabled">
          <label>
            <input 
              ng-control="options"
              type="radio" 
              name="optradio"
              [value]="4"  
              [(ngModel)]="timeOption" 
              checked="checked">All
            </label>
        </div>
    </div>

  </div>
</div>