.row {
  margin: 0;
}
label {
  display: initial;
  min-width: 200px;
  margin: 10px 0;
  display: inline-table;
}

.chart {
  width: 80%;
}
.error-notification {
  color: red;    
  text-align: center;
}
h2{
  text-align: center;
}

select {
  margin: 5px 0;
}

.block {
  width: 100%;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #FFFFFF;
  border-radius: 6px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
  margin-right: 10px;
}

.form {
   label {
    width: 140px;
   }
   input {
    width: 140px;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
   }  
}